<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lang.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lang.demo.Bezier.BezierActivity"
            android:label="@string/Bezier"></activity>

        <activity
            android:name="com.lang.demo.WaterDrop.WaterDropActivity"
            android:label="@string/WaterDrop"></activity>

        <activity
            android:name="com.lang.demo.BottomRefresh.BottomRefreshActivity"
            android:label="@string/BottomRefresh"></activity>

        <activity
            android:name="com.lang.demo.Shake.ShakeActiviy"
            android:label="@string/Shake"></activity>

        <activity
            android:name="com.lang.demo.LuckyDraw.LuckyDrawActivity"
            android:label="@string/LuckyDraw" />

        <activity
            android:name=".RecycleView.RecyclerViewActivity"
            android:label="@string/RecyclerView"
            android:theme="@style/RecylerTheme" />
    </application>

    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest>
